
Options -Indexes

<ifModule mod_rewrite.c>
RewriteEngine on
RewriteBase /torreblanca2/torreblanca2/
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ $1.php

</ifModule>